html, body, div, p, h1, h2, h3, ul, li{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container{
	width: 900px;
	margin: 0 auto;
	text-align: center;
}

.displayWordBox{
	font-size: 80px;
	font-family: Arial;
	margin-top: 10px;
	padding: 20px;
	width: 900px;
	min-height: 47px;
	border: 2px solid #008A00;
	background-color: #ccc;
	display: inline-block;
}

.textToUse{
	display: none;
}

.start, .stop{
	width: 150px;
	margin: 20px 0;
	padding: 20px 0;
}

.button:hover{
	cursor: pointer;
}

.start{
	background-color: green;
}

.start::after{
	content: "Start";
}

.stop{
	background-color: red;
}

.stop::after{
	content: "Pause";
}

.start, .stop{
	display: inline-block;
}

.startform textarea{
	width: 80%;
	height: 100px;
	margin-top: 10px;
}

.startform input[type="submit"]{
	display: block;
	width: 100px;
	margin: 10px auto;
}

.maintitle{
	margin: 20px;
}

.wpmform{
	margin: 20px 0 20px 0;
}

ol{
	display: inline-block;
	text-align: left;
}